header {
  background-color: #002b36;
  color: #93a1a1;
  padding-left: 20px;
}

header h1 {
  font-family: "ten-mincho";
}

a {
  text-decoration: unset;
}

h2 {
  font-family: "cronos-pro-caption";
  font-weight: 700;
}

h3 {
  font-family: "cronos-pro-caption";
  font-weight: 400;
}

p {
  font-family: "cronos-pro-display",sans-serif;
  font-style: normal;
}

.date {
  font-family: "cronos-pro-display",sans-serif;
  font-style: normal;
  font-weight: 300;
}
